<h1 class="basic_header">Straight Bets <span class="switch_link"><a href="/make_parlay">Parlay Bet</a></span></h1>

<div id="page_right">
	<div id="place_bet_bet_home"></div>
</div>
<div id="page_left">
<%= render :partial => 'events/game_list', :locals => { :games => @games, :sport => @sport } %>
</div>
