<h1 class="basic_header">Straight Bets <span class="switch_link"><a href="/make_parlay">Parlay Bet</a></span></h1>

<%= render :partial => 'events/game_list', :locals => { :games => @games, :sport => @sport } %>

