<h2>About Us</h2>

<p>
	PickingDuck is a community of sports fans that love to make picks on games. We've all watched sports with our friends and there's always a guy who thinks he knows too much about the outcome. With PickingDuck, "the proof is in picks." Show your skills or get an edge by following other picks. Build up a winning record and you'll gain fans of your own. We know you like making picks and PickingDuck is your voice to prove how good you really are.
</p>
